
<body class="font-inter grid grid-cols-5 max-w-screen-2xl mx-auto ">

    <app-sidemenu></app-sidemenu>
    
        <!-- Main -->
        <div class="col-span-4  ">
            <section class="px-8 py-6">

    <div>

        <div class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
            <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                Tips
            </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <div class="row" *ngFor="let tip of tips">
                            <div class="rounded-lg w-full border shadow-md bg-blue-200 rounded-2xl mb-2 px-12 py-8">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="grey" class="bi bi-lightbulb" viewBox="0 0 16 16">
                                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
                                </svg>
                                    <h5 class="mb-2 text-2xl font-bolder text-gray-700">{{tip.title}}</h5>
                                <p class="mb-3 font-thin">{{tip.decription}}</p>
                            </div>
                        </div>
                      </div>
                    
                </div>                
            </div>

               
                </section>
        </div>
    


    


    
    