
    <!-- <img src="assets/GetStrong/logo.png" alt=""> -->
    <div class="bg-black background">
        <div class="bg-gray-900 bg-opacity-40 backdrop-blur-lg rounded drop-shadow-lg py-10 px-6 lg:px-8">
    
    
            <h3 class="mb-1 text-xl text-center font-bold text-gray-900 dark:text-white">Verify Your Email</h3>
            <div class="flex flex-row justify-center">
                <img src="assets/GetStrong/logo.png" class="img mb-2 drop-shadow-lg" alt=""> 
            </div>
    
     
        <form class="space-y-6" action="#">
            <div>
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Email</label>
                <input [(ngModel)]="email" type="text" name="text" id="text" class="bg-gray-50 border border-teal-500 text-gray-900 text-sm rounded-full focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="email" required>
            </div>
            <div class="flex flex-row justify-center pt-4">
                <button (click)="forgotPassword()" type="button" class="py-2.5 px-12 mr-2 mb-2 text-sm font-large rounded-full  border-0 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 text-white focus:z-10 focus:ring-4 focus:ring-gray-200 uppercase">Verify</button>   
            </div>
            <div class="flex flex-row justify-center">
                <a (click)="openDialog()" class=" cursor-pointer underline text-teal-500">Back To Login</a>   
            </div>
    
         
        </form>
        </div>
    </div>
    
    
    
    
    
    
    
    
    
    