
<body class="font-inter grid grid-cols-5 max-w-screen-2xl mx-auto ">

    <app-sidemenu></app-sidemenu>
    
        <!-- Main -->
        <div class="col-span-4  ">
            <section class="px-8 py-6">

    <div>

        <div class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
            <form #getDeleteForm="ngForm" (ngSubmit)="getCustomerDetails(getDeleteForm.value)">
                
                <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                    Search / Delete Customers
                </div>
                <div class="mb-6">
                    <label for="full Name" class="block mb-2 text-sm font-medium">Username</label>
                    <input required id="username" name="username" ngModel type="text" class="block p-2.5 w-full text-gray-500  rounded-lg border border-gray-300 sm:text-md">
                  </div>       
                  <button [disabled]="!getDeleteForm.form.valid" type="submit" class=" disabled:opacity-50 disabled:cursor-not-allowed text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">Search</button>                   
                  <button [disabled]="!getDeleteForm.form.valid" (click)="removeCustomer(getDeleteForm.value)" type="button" class="disabled:opacity-50 disabled:cursor-not-allowed text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</button>
                  <button (click)="getAllData()" type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">View All</button>               
                    </form>

                    <div class="flex flex-row md:justify-center overflow-x-auto relative">
                        <table class="md:ml-23 rounded-2xl w-500 text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="py-3 px-6">
                                        Username
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Full Name
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Age
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Address
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Gender
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Contact No
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Password
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        <span class="sr-only">Delete</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cus of customer" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{cus.username}}
                                    </th>
                                    <td class="py-4 px-6">
                                        {{cus.fullName}}
                                    </td>
                                    <td class="py-4 px-6">
                                        {{cus.age}}
                                    </td>
                                    <td class="py-4 px-6">
                                        {{cus.address}}
                                    </td>
                                    <td class="py-4 px-6">
                                        {{cus.gender}}
                                    </td>
                                    <td class="py-4 px-6">
                                        {{cus.contact}}
                                    </td>
                                    <td class="py-4 px-6">
                                        {{cus.password}}
                                    </td>
                                    <td class="py-4 px-6  text-right cursor-pointer opacity-75">
                                        <div class="flex flex-row justify-around">
                                            <div class="px-4">
                                                <svg (click)="getSelectedCustomerToEdit(cus.username)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cyan" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                                </svg>
                                            </div>

                                        <svg (click)="removeCustomerFromTable(cus.username)" xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="red" class="bi bi-archive-fill" viewBox="0 0 16 16">
                                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                                        </svg>
                                    </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
        <div class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
            <form #addCustomerForm="ngForm" (ngSubmit)="addCustomer(addCustomerForm.value)" >
                
                <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                    Add / Edit Customer
                </div>
                <div class="mb-6">
                    <label for="username" class="block mb-2 text-sm font-medium">Username</label>
                    <input [(ngModel)]="data[0].username" [ngClass]="{'border-red-600' : (!username.untouched || addCustomerForm.submitted)&& username.errors?.required}" required ngModel #username="ngModel" name="username" id="username" type="text" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                    <p *ngIf="(!username.untouched || addCustomerForm.submitted)&& username.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please Enter the Username</p>

                </div>
                        <div class="mb-6">
                            <label for="full Name" class="block mb-2 text-sm font-medium">Full Name</label>
                            <input [(ngModel)]="data[0].fullName"  [ngClass]="{'border-red-600' : (!fullName.untouched || addCustomerForm.submitted)&& fullName.errors?.required}" required ngModel #fullName="ngModel" name="fullName" id="fullName" type="text" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                            <p *ngIf="(!fullName.untouched || addCustomerForm.submitted)&& fullName.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please Enter the Full Name</p>
  
                        </div>
                          <div class="mb-6">
                              <label for="Age" class="block mb-2 text-sm font-medium">Age</label>
                              <input [(ngModel)]="data[0].age" [ngClass]="{'border-red-600' :(!age.untouched || addCustomerForm.submitted)&& age.errors?.required}"  required ngModel  #age="ngModel" name="age" id="age" type="number" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                <p *ngIf="(!age.untouched || addCustomerForm.submitted)&& age.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please Enter the age</p>
                           </div>
                            <div class="mb-6">
                              <label for="address" class="block mb-2 text-sm font-medium">Address</label>
                              <input [(ngModel)]="data[0].address" [ngClass]="{'border-red-600' :(!address.untouched || addCustomerForm.submitted)&& address.errors?.required}" required ngModel  #address="ngModel" name="address" id="address" type="text" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                <p *ngIf="(!address.untouched || addCustomerForm.submitted)&& address.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please Enter the address</p>
                           </div>
                            <div class="mb-6">
                                <label for="gender" class="block mb-2 text-sm font-medium">Gender</label>
                                <select [(ngModel)]="data[0].gender" [ngClass]="{'border-red-600' : (!gender.untouched || addCustomerForm.submitted)&& gender.errors?.required}" #gender="ngModel" required ngModel name="gender" id="gender" type="text" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                    <option>Male</option>
                                    <option>Female</option>
                                  </select>
                                  <p *ngIf="(!gender.untouched || addCustomerForm.submitted)&& gender.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please select the gender</p>
                              </div>
                            <div class="mb-6">
                                <label for="contact" class="block mb-2 text-sm font-medium">Contact No</label>
                                <input [(ngModel)]="data[0].contact" [ngClass]="{'border-red-600' : (!contact.untouched || addCustomerForm.submitted)&& contact.errors?.required}" #contact="ngModel" required ngModel name="contact" id="contact" type="number" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                <p *ngIf="(!contact.untouched || addCustomerForm.submitted)&& contact.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please select the contact number</p>
  
                            </div>
                              <div class="mb-6">
                                <label for="password" class="block mb-2 text-sm font-medium">Password</label>
                                <input [(ngModel)]="data[0].password" [ngClass]="{'border-red-600' : (!password.untouched || addCustomerForm.submitted)&& password.errors?.required}" #password="ngModel" required ngModel name="password" id="password" type="password" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                <p *ngIf="(!password.untouched || addCustomerForm.submitted)&& password.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please enter the password</p>
  
                            </div>
                              <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                                BMI details
                            </div>
                            <div class="mb-6">
                                <label for="height" class="block mb-2 text-sm font-medium">Height</label>
                                <input [(ngModel)]="data[0].height" [ngClass]="{'border-red-600' : (!height.untouched || addCustomerForm.submitted)&& height.errors?.required}" #height="ngModel" required ngModel name="height" id="height" type="number" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                <p *ngIf="(!height.untouched || addCustomerForm.submitted)&& height.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please enter the height</p>
  
                            </div>
                              <div class="mb-6">
                                <label for="weight" class="block mb-2 text-sm font-medium">Weight</label>
                                <input [(ngModel)]="data[0].weight" [ngClass]="{'border-red-600' : (!weight.untouched || addCustomerForm.submitted)&& weight.errors?.required}" #weight="ngModel" required ngModel name="weight" id="weight" type="number" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                <p *ngIf="(!weight.untouched || addCustomerForm.submitted)&& weight.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please enter the weight</p>
 
                            </div>
                              <div class="mb-6">
                                <label for="exerciseLevel" class="block mb-2 text-sm font-medium">Exercise Level</label>
                                <select [(ngModel)]="data[0].exerciseLevel" [ngClass]="{'border-red-600' : (!exLevel.untouched || addCustomerForm.submitted)&& exLevel.errors?.required}" #exLevel="ngModel" required ngModel name="exerciseLevel" id="exerciseLevel" type="text" class="block text-gray-500 p-2.5 w-full rounded-lg border border-gray-300 sm:text-md">
                                    <option class="w-fit">Not Very Active</option>
                                    <option>Moderately Active</option>
                                    <option>Exercises 1-3 days/week</option>
                                    <option>Exercises 3-5 days/week</option>


                                  </select>
                                  <p *ngIf="(!exLevel.untouched || addCustomerForm.submitted)&& exLevel.errors?.required" class="mt-2 text-sm text-red-600 dark:text-red-500">Please select the exercise level</p>

                              </div>

                                <button [disabled]="!addCustomerForm.form.valid" type="submit"  class="disabled:opacity-50 disabled:cursor-not-allowed  text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Insert</button>
                                <button [disabled]="!addCustomerForm.form.valid" (click)="updateCustomer(addCustomerForm.value)" type="button" class="disabled:opacity-50 disabled:cursor-not-allowed  text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Update</button>
                 
                    </form>
                    
                </div>
                
            </div>

               
                </section>
        </div>
    


    


    
    