
<body class="font-inter grid grid-cols-5 max-w-screen-2xl mx-auto ">

    <app-sidemenu></app-sidemenu>
    
        <!-- Main -->
        <div class="col-span-4 chat-container">

     <body *ngIf="userType=='trainee'" class="chatBox">
    <div class="container mx-auto">
      <div class="min-w-full border rounded lg:grid lg:grid-cols-3">
        <div class="border-r chatLeftHeight border-gray-300 lg:col-span-1">
            <h2 class="my-2 mb-2 ml-4 text-lg text-gray-600 title">Chats</h2>
            <ul class="overflow-auto h-[32rem]">
            <li class="chatName" *ngFor="let mess of chat">
              <button
                class="flex w-full focus:font-medium focus:bg-cyan-700 active:bg-cyan-700 items-center px-3 py-2 text-sm transition duration-150 ease-in-out border-b border-gray-300 cursor-pointer hover:bg-gray-100 focus:outline-none">
                <div class="w-full pb-2">
                  <div class="flex justify-start">
                    <span class="nameIcon">{{mess.to[0]}}</span>
                    <span class="block ml-2 senderName font-thin">{{mess.to}}</span>

                  </div>
                </div>
              </button>
              
            </li>
          </ul>
        </div>
        <div class="hidden lg:col-span-2 lg:block">
          <div class="w-full">
            <div class="relative flex items-center p-3 border-b border-gray-300">
              <span class="block ml-2 font-bold text-gray-600">{{currentChat[0].to}}</span>
            </div>
            <div class="bg relative w-full p-6 overflow-y-auto chatBox">
              <ul class="space-y-2" *ngFor="let mess of currentChat">
                <div *ngFor="let mess of mess.messages">
                    <li *ngIf="mess.from != username" class="flex justify-start">
                        <div class=" rec-mess relative max-w-xl px-4 py-2 text-gray-700 rounded shadow">
                            <span class="">{{mess.mess}}</span> <label class="time">{{mess.time}}</label>
                        </div>
                    </li>

                    <li *ngIf="mess.from == username" class="flex justify-end">
                        <div class="sender-mess relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                            <span class="">{{mess.mess}}</span> <label class="time">{{mess.time}}</label>
                        </div>
                    </li>
                </div>
              </ul>
            </div>

            <form #messForm="ngForm">
                <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">
                  <input type="text" placeholder="Message" [(ngModel)]="message"
                    class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700"
                    name="message" required />
                  <button [disabled]="!messForm.form.valid"  class="disabled:opacity-50 disabled:cursor-not-allowed"
                  (click)="sendMessage()" type="button">
                    <svg class="w-5 h-5 text-cyan-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20" fill="currentColor">
                      <path
                        d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                    </svg>
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>


  <body *ngIf="userType=='instructor'" class="chatBox">
    <div class="container mx-auto">
      <div class="min-w-full border rounded lg:grid lg:grid-cols-3">
        <div class="border-r chatLeftHeight border-gray-300 lg:col-span-1">
            <h2 class="my-2 mb-2 ml-4 text-lg text-gray-600 title">Chats</h2>
            <ul class="overflow-auto h-[32rem]">
            <li class="chatName" *ngFor="let mess of chat">
              <button
                class="flex w-full focus:font-medium focus:bg-cyan-700 active:bg-cyan-700 items-center px-3 py-2 text-sm transition duration-150 ease-in-out border-b border-gray-300 cursor-pointer hover:bg-gray-100 focus:outline-none">
                <div class="w-full pb-2">
                  <div class="flex justify-between">
                    <span class="block ml-2 font-semibold">{{mess.senderName}}</span>
                  </div>
                </div>
              </button>
              
            </li>
          </ul>
        </div>
        <div class="hidden lg:col-span-2 lg:block">
          <div class="w-full">
            <div class="relative flex items-center p-3 border-b border-gray-300">
              <span class="block ml-2 font-bold text-gray-600">{{currentChat[0].senderName}}</span>
            </div>
            <div class="bg relative w-full p-6 overflow-y-auto chatBox">
              <ul class="space-y-2" *ngFor="let mess of currentChat">
                <div *ngFor="let mess of mess.messages">
                    <li *ngIf="mess.from != username" class="flex justify-start">
                        <div class=" rec-mess relative max-w-xl px-4 py-2 text-gray-700 rounded shadow">
                            <span class="">{{mess.mess}}</span> <label class="time">{{mess.time}}</label>
                        </div>
                    </li>

                    <li *ngIf="mess.from == username" class="flex justify-end">
                        <div class="sender-mess relative max-w-xl px-4 py-2 text-gray-700 bg-gray-100 rounded shadow">
                            <span class="">{{mess.mess}}</span> <label class="time">{{mess.time}}</label>
                        </div>
                    </li>
                </div>
              </ul>
            </div>

            <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">
              <input type="text" placeholder="Message" [(ngModel)]="message"
                class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700"
                name="message" required />
              <button (click)="sendMessage()" type="button">
                <svg class="w-5 h-5 text-gray-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor">
                  <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
    


    


    
    

 
