
<body class="font-inter grid grid-cols-5 max-w-screen-2xl mx-auto ">

    <app-sidemenu></app-sidemenu>
    
        <!-- Main -->
        <div class="col-span-4  ">
            <section class="px-8 py-6">

                <div>

                    <div class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
                        <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                            Workouts
                        </div>
                        <h2 class="text-blue-400">Begineer</h2>
                        <div class="flex flex-row overflow-x-auto flex-nowrap mb-10 pb-3">
                            <div class="row mr-4" *ngFor="let x of workout">
                                <div class="border-2 border-black bg-white rounded-2xl mb-2 px-12 py-8 md:ml-6">
                                    <h5 class="mb-2 text-xl font-thin ">{{x.category}}</h5>
                                    <h5 class="mb-4 editFont text-2xl text-blue-600 font-semibold">Muscle Group: {{x.targetMuscle}}</h5>
                                    <span class="text-3xl mb-4 mb-3 text-gray-500 dark:text-gray-400 font-semibold">{{x.title}}</span>
                                    <div *ngFor="let x of x.shedule| keyvalue">
                                        <li class="flex space-x-3 flex-row sm:justify-start md:justify-center my-2">
                                        <!-- Icon -->
                                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                            <span class="text-base whitespace-nowrap font-normal leading-tight">{{x.key}} : {{x.value}}</span>
                                        </li>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <h2 class="text-blue-400">Inermediate</h2>
                        <div class="flex flex-row overflow-x-auto flex-nowrap mb-10 pb-3">
                            <div class="row mr-4" *ngFor="let x of workout">
                                <div class="border-2 border-black bg-white rounded-2xl mb-2 px-12 py-8 md:ml-6">
                                    <h5 class="mb-2 text-xl font-thin ">{{x.category}}</h5>
                                    <h5 class="mb-4 editFont text-2xl text-blue-600 font-semibold">Muscle Group: {{x.targetMuscle}}</h5>
                                    <span class="text-3xl mb-4 mb-3 text-gray-500 dark:text-gray-400 font-semibold">{{x.title}}</span>
                                    <div *ngFor="let x of x.shedule| keyvalue">
                                        <li class="flex space-x-3 flex-row sm:justify-start md:justify-center my-2">
                                        <!-- Icon -->
                                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                            <span class="text-base whitespace-nowrap font-normal leading-tight">{{x.key}} : {{x.value}}</span>
                                        </li>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        <h2 class="text-blue-400">Advanced</h2>
                        <div class="flex flex-row overflow-x-auto flex-nowrap mb-10 pb-3">
                            <div class="row mr-4" *ngFor="let x of workout">
                                <div class="border-2 border-black bg-white rounded-2xl mb-2 px-12 py-8 md:ml-6">
                                    <h5 class="mb-2 text-xl font-thin ">{{x.category}}</h5>
                                    <h5 class="mb-4 editFont text-2xl text-blue-600 font-semibold">Muscle Group: {{x.targetMuscle}}</h5>
                                    <span class="text-3xl mb-4 mb-3 text-gray-500 dark:text-gray-400 font-semibold">{{x.title}}</span>
                                    <div *ngFor="let x of x.shedule| keyvalue">
                                        <li class="flex space-x-3 flex-row sm:justify-start md:justify-center my-2">
                                        <!-- Icon -->
                                            <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                            <span class="text-base whitespace-nowrap font-normal leading-tight">{{x.key}} : {{x.value}}</span>
                                        </li>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    


    


    
    