
    <!-- <img src="assets/GetStrong/logo.png" alt=""> -->
<div class="bg-black background">
    <div class="bg-gray-900 bg-opacity-40 backdrop-blur-lg rounded drop-shadow-lg py-10 px-6 lg:px-8">

        <div class="mb-4">
            <ul class="flex flex-wrap flex-row justify-center -mb-px text-sm font-medium text-center">
                <li class="mr-2">
                    <button class="inline-block p-4 rounded-t-lg border-b " (click)="switchUser('trainee')" [ngStyle]="{ 'color': trainee ? '#0378A6' : '#849493','border-bottom-color': trainee ? '#0378A6' : 'transparent' }" type="button">
                        Trainee</button>
                </li>
                <li class="mr-2">
                    <button class="inline-block p-4 rounded-t-lg border-b" (click)="switchUser('instructor')" [ngStyle]="{ 'color': instructor? '#0378A6' : '#849493','border-bottom-color': instructor ? '#0378A6' : 'transparent' }">Instructor</button>


                </li>
                <li class="mr-0">
                    <button class="inline-block p-4 rounded-t-lg border-b" (click)="switchUser('admin')" [ngStyle]="{ 'color': admin? '#0378A6' : '#849493','border-bottom-color': admin ? '#0378A6' : 'transparent' }">Admin</button>
                </li>
            </ul>
        </div>

        <h3 class="mb-1 text-xl text-center font-bold text-gray-900 dark:text-white">Log in to Get Strong</h3>
        <div class="flex flex-row justify-center">
            <img src="assets/GetStrong/logo.png" class="img mb-2 drop-shadow-lg" alt=""> 
        </div>

 
    <form class="space-y-6" action="#">
        <div>
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Email</label>
            <input  [(ngModel)]="email" type="text" name="text" id="text" class="bg-gray-50 border border-teal-500 text-gray-900 text-sm rounded-full focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="email" required>
        </div>
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Password</label>
            <div class="flex justify-between">
                <input  [type]="show ? 'text' : 'password'" id="passwordInput" [(ngModel)]="password"  name="password" id="password" placeholder="Password" class="bg-gray-50 border border-teal-500 text-gray-900 text-sm rounded-full focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                <button (click)="showPassword()" id="passwordBtn">
                    <svg *ngIf="!show" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                      </svg>

                      <svg *ngIf="show" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                </button>
            </div>
        </div>
        <div>
            <button (click)="openDialog()" for="password" class="block mb-2 text-sm font-medium text-teal-500 underline">Forgot Password</button>
        </div>
        <div class="flex flex-row justify-center">
            <button (click)="verifyLogin()" type="button" class="py-2.5 px-12 mr-2 mb-2 text-sm font-large rounded-full  border-0 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 text-white focus:z-10 focus:ring-4 focus:ring-gray-200 uppercase">Login</button>   
        </div>

     
    </form>
    </div>
</div>









