
<body class="font-inter grid grid-cols-5 max-w-screen-2xl mx-auto ">

    <app-sidemenu></app-sidemenu>
    <!-- Main -->
        <div class="col-span-4  ">
            <section class="px-8 py-6">

    <div>

        <div class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
            <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
              Food
            </div>
                    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                        <div class="row" *ngFor="let recipe of recipes">
                            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                                <img class="w-full" src="../../../assets/GetStrong/cross-fit.jpg" alt="Sunset in the mountains">
                                <div class="px-6 py-4">
                                  <div class="font-bold text-xl mb-2">{{recipe.name}}</div>
                                  <p class="text-gray-700 text-base">
                                    {{recipe.items}}
                                  </p>
                                  <p class="text-gray-700 text-base">
                                    {{recipe.description}}
                                  </p>
                                </div>
                              </div>
                        </div>
                      </div>
                    
                </div>                
            </div>
    </section>
        </div>
    


    


    
    