
<body class="font-inter grid grid-cols-5 max-w-screen-2xl mx-auto ">

    <app-sidemenu></app-sidemenu>
    
        <!-- Main -->
        <div class="col-span-4  ">
            <section class="px-8 py-6">

    <div>

        <div class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
            <form>
                
                <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                    Edit Personal Info
                </div>
                        <div class="mb-6">
                            <label for="full Name" class="block mb-2 text-sm font-medium">Full Name</label>
                            <input type="text" class="block p-2.5 w-full text-gray-900  rounded-lg border border-gray-300 sm:text-md">
                          </div>
                          <div class="mb-6">
                              <label for="Age" class="block mb-2 text-sm font-medium">Age</label>
                              <input type="number" class="block p-2.5 w-full text-gray-900  rounded-lg border border-gray-300 sm:text-md">
                            </div>
                            <div class="mb-6">
                              <label for="address" class="block mb-2 text-sm font-medium">Address</label>
                              <input type="text" class="block p-2.5 w-full text-gray-900  rounded-lg border border-gray-300 sm:text-md">
                            </div>
                            <div class="mb-6">
                                <label for="contact" class="block mb-2 text-sm font-medium">Contact No</label>
                                <input type="number" class="block p-2.5 w-full text-gray-900  rounded-lg border border-gray-300 sm:text-md">
                              </div>
                     
                          
                          
                                <!-- <button type="button" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Insert</button> -->
                                <button type="button" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Update</button>
                                <!-- <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</button> -->
                                                  
                    </form>
                    
                </div>
                <div *ngIf="userType=='trainee'" class="border-2 border-gray-200 font-medium mb-10 bg-white rounded-2xl w-full px-6 py-4 text-gray-800">
                    <form>
                        
                        <div class="font-medium mb-10 bg-white rounded-2xl w-full py-4 flex items-center text-2xl text-gray-800 justify-between ">
                            Edit BMI Info
                        </div>
                                
                                    <div class="mb-6">
                                      <label for="Age" class="block mb-2 text-sm font-medium">Height</label>
                                      <input type="number" class="block p-2.5 w-full text-gray-900  rounded-lg border border-gray-300 sm:text-md">
                                    </div>
                                    <div class="mb-6">
                                        <label for="contact" class="block mb-2 text-sm font-medium">Weight</label>
                                        <input type="number" class="block p-2.5 w-full text-gray-900  rounded-lg border border-gray-300 sm:text-md">
                                     </div>
                             
                                  
                                  
                                        <!-- <button type="button" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Insert</button> -->
                                        <button type="button" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Update</button>
                                        <!-- <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</button> -->
                                                          
                            </form>
                            
                        </div>
            </div>

               
                </section>
        </div>
    


    


    
    