@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

.tableHeight{
  max-height: 350px;
}

.editButton{
  padding-left: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
  }


  .mat-dialog-container {
    border-radius: 15px !important;
  }

  .cdk-global-scrollblock {
    position: initial;
    width: initial;
    overflow: hidden;
  }