
<div class="container">
    <!-- banner region -->
        <div class="text-white w-screen h-screen bg-no-repeat bg-center bg-cover bg-fixed " style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(assets/GetStrong/banner.jpg);">
          
          <nav class="bg-transparent border-gray-200 px-2">
            <div class="container w-full px-2.5 md:w-10/12 m-auto pt-7 mx-auto flex flex-wrap items-center justify-between">
              <img src="assets/GetStrong/logo.png" class="w-10" alt=""> 
  
              <!-- toogle navbar -->
              <button data-collapse-toggle="mobile-menu" type="button" class="md:hidden ml-3 text-gray-400 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 rounded-lg inline-flex items-center justify-center" aria-controls="mobile-menu-2" aria-expanded="false">
                <span class="sr-only"></span>
                <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
              <div class="hidden md:text-white text-black text-end md:bg-transparent bg-white md:opacity-100 opacity-100 md:block w-full md:w-auto" id="mobile-menu">
                <ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 uppercase font-bolds">
              <li class="cursor-pointer inline-block mr-8 pr-6 pl-2 md:pl-0 md:pt-0 pb-2 pt-2 hover:decoration-teal-500 hover:underline-offset-8 hover:decoration-3 no-underline hover:underline">
                <a>home</a>
              </li>
              <div class=" border-t-2 border-gray-300 flex flex-col items-center"></div>
              <li class="cursor-pointer inline-block mr-8 md:pt-0 pr-12 pb-2 pl-2 md:pl-0 pt-2 hover:decoration-teal-500 hover:underline-offset-8 hover:decoration-3 no-underline hover:underline">
                <a (click)="scrollToAbout()">about</a>
              </li>
              <div class=" border-t-2 border-gray-300 flex flex-col items-center"></div>
  
              <li class="cursor-pointer inline-block pt-2 md:pt-0 mr-8 pr-8 pb-3 pl-2 md:pl-0 hover:decoration-teal-500 hover:underline-offset-8 hover:decoration-3 no-underline hover:underline">
                <a (click)="openDialog()">login</a>
              </li>
  
                </ul>
              </div>
            </div>
          </nav>
  
  
          <!-- content -->
      <div class=" text-center banner-content">
            <img src="assets/GetStrong/logo.png" class="w-20 md:w-70 md:w-60 ml-auto mr-auto block mb-10" alt="">
            <p class="text-lg md:text-3xl uppercase mb-10">Build Your Dream Physique with <br> get strong</p>

            <button type="button" class="py-2.5 px-12 mr-2 mb-2 text-sm font-large text-teal-500 focus:outline-none bg-transparent rounded-full border border-2 hover:border-0 border-teal-500 hover:bg-teal-500 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200 uppercase" (click)="openDialog()">login</button>        </div>
      </div>
  
      
  
  </div>
  
  <!-- about -->
  <div class="text-center h-100 px-8 py-20">
    <div id="aboutUs" class="text-xl md:text-3xl uppercase font-bold pb-6">About us</div>
    <p class="text-md md:text-xl">
      We have a variety of gym Equipment, trainers to help you in all aspects of fitness, which includes strength training, cardio, cross fitness, Pilates, Zumba. Work out centers are allocated in ( Wattala, Kotahena, Wallawatha )</p>
  </div>
  
  <!-- category -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-5 px-8 mb-20 ml-4 md:ml-8">
    <div class="rounded-xl shadow-xl bg-white max-w-sm">
      <img class="rounded-t-lg" src="assets/GetStrong/cross-fit.jpg" alt="" />
      <div class="p-6">
        <h5 class="text-gray-900 text-xl text-center font-medium mb-2">Cross-Fit</h5>
        <p class="text-gray-700 text-base mb-4 text-center">
          Discover a complimentary, customized workout plan created by our elite Personal Trainers so you can pursue
          results anywhere.
        </p>
      </div>
    </div>
    <div class="rounded-xl shadow-xl bg-white max-w-sm">
      <img class="rounded-t-lg" src="assets/GetStrong/weigth-lift.jpg" alt="" />
      <div class="p-6">
        <h5 class="text-gray-900 text-center text-xl font-medium mb-2">Resistance Training</h5>
        <p class="text-gray-700 text-base mb-4 text-center">
          Build muscle with a weighted plates and dumbells. Improve strength, mobility, and balance with expertly
          sequenced poses and athletic movements for a full body workout. </p>
      </div>
    </div>
    <div class="rounded-xl shadow-xl bg-white max-w-sm">
      <img class="rounded-t-lg" src="assets/GetStrong/cardio.jpg" alt="" />
      <div class="p-6">
        <h5 class="text-gray-900 text-center text-xl font-medium mb-2">Cardio</h5>
        <p class="text-gray-700 text-base mb-4 text-center">
          Enjoy tracking weight like Firestarter, MetCon, Best Abs Ever, and more in the room to move for safety or
          on-demand on the Getstrong app. </p>
      </div>
    </div>
  
  </div>
  
  
  <!-- weight track -->
  <div class="text-white mt-5 text-center w-screen h-full bg-no-repeat bg-center bg-cover bg-fixed " style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(assets/GetStrong/banner.jpg);">
    <div class="pt-10 text-xl md:text-3xl uppercase font-bold">Easy Weight tracking</div>
    <div class="h-100 px-8 py-6 md:py-10 grid grid-cols-1 text-center md:text-left md:grid-cols-2">
      <div class="px-4 tracking-wide leading-loose pt-12 mb-10 text-md md:text-xl">Research proves people that who log calories are capable to lose or gain more weight and are more likely to keep the weight off in the long run</div>
      <div class="flex flex-row items-center h-full">
        <img src="assets/GetStrong/calories.png" class="  w-1/2 ml-auto mr-auto block" alt="" srcset="">
      </div>
    </div>
  </div>
  
  
  <!-- protein carbs and fats -->
  <div class="mt-5 mb-15 text-center">
    <div class="pt-10 text-xl md:text-3xl uppercase font-bold">Track Your Nutritions </div>
    <div class="h-100 px-8 gap-8 md:gap-0 md:px-60 py-20 grid grid-cols-1 text-center md:text-left md:grid-cols-3">
      <div>
        <img src="assets/GetStrong/meat.png" class="opacity-50 w-20 ml-auto mr-auto block mb-4" alt="" srcset="">
        <h3 class="text-center uppercase mb-7">Protein</h3>
      </div>
      <div>
        <img src="assets/GetStrong/carbs.png" class="opacity-50 w-20 ml-auto mr-auto block mb-4" alt="" srcset="">
        <h3 class="text-center uppercase mb-7">Carbohydrates</h3>
      </div>
      <div>
        <img src="assets/GetStrong/oil.png" class="opacity-50 w-20 ml-auto mr-auto block mb-4" alt="" srcset="">
        <h3 class="text-center uppercase mb-7">Fat</h3>
      </div>
    </div>
    <!-- calories track -->
    <div class="text-white mt-5 text-center w-screen h-full pb-15 bg-no-repeat bg-center bg-cover bg-fixed " style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(assets/GetStrong/banner.jpg);">
      <div class="pt-10 text-xl md:text-3xl uppercase font-bold">Track Your Weight </div>
      <div class="h-100 px-8 py-10 grid grid-cols-1 text-center md:text-left md:grid-cols-2">
        <img src="assets/GetStrong/weighttrack.png" class=" w-1/2 ml-auto mr-auto block" alt="" srcset="">
        <div class="mb-10 text-md md:text-xl px-4 tracking-wide leading-loose pt-12">Will help you get a better overall picture of what's happening with your body</div>
      </div>
  
  
      <!-- footer -->
  
  <footer class="footer bg-white relative pt-1">
    <div class="container mx-auto px-6">
        <div class="sm:flex sm:mt-8 text-left">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                  <span class="my-2 text-gray-700 text-3xl"><a href="#" class="">Lets keep in touch!</a></span>
                    <span class="my-2"><a href="#" class="text-md text-slate-600">Connect with us through Facebook</a></span>
                    <span class="my-2"><a href="#" class="text-slate-600 flex-row">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                      </svg>
                    </a></span>
                </div>
                <div class="flex flex-col items-center">
                  
                  </div>
                  <div class="flex flex-col pt-10 md:pt-0  ">
                    <span class="my-2"><a href="#" class=" items-center text-md text-slate-600">
                      <img src="assets/GetStrong/company.jpg" class="company" alt=""> 
                    </a></span>
                    <span class="my-2"><a href="#" class="text-md text-slate-600">267, 10 Negombo-Colombo Main Rd, Wattala 11300</a></span>
                    <span class="my-2"><a href="#" class="text-md text-slate-600">077 667 9577</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-11 border-t-2 border-gray-300 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-slate-500  mb-2">
                    © Powered by Life Line Fitness Center
                </p>
            </div>
        </div>
    </div>
  </footer>